
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  
    <nav class="navbar navbar-default" role="navigation">

      <div class="row">
	  <div class="col-md-12">
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">Gao Group for Air quality, Health and Climate (GGAHC) | 浸會大學空氣質量，健康與氣候研究組</a>
      </div>
      </div>

      <div class="navbar-header navbar-header-center">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>                 
      </div>
      
      
      <div class="clearfix"></div>
	  
	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-center">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home | 主頁</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/people/">Members | 成員</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research/">Research | 研究</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications/">Publications | 論文</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/presentations/">Presentations | 報告</a></li>
    <!--
    <li><a href="{{ site.url }}{{ site.baseurl }}/datasets/">Datasets | 数据</a></li> 
    <li><a href="{{ site.url }}{{ site.baseurl }}/courses/">Courses | 课程</a></li> 
    -->
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings/">Join us | 加入我們</a></li>
	  </ul>
	  </div>
    
    </nav>
  </div>
</div>
